// APP SETTINGS

$global-flexbox: true;
$grid-row-width: rem-calc(960);

// gutter

$wg-gutter-sm: $global-padding * 0.5;
$wg-gutter-md: $global-padding;
$wg-gutter-lg: $global-padding * 1.5;
$wg-gutter-xl: $global-padding * 2;
$wg-gutter-xxl: $global-padding * 4;

// Borders

$box-border-primary: 2px solid $primary-color;
