.wg-margin-top-xl {
    margin-top: $wg-gutter-xl;
}

.wg-margin-bottom-md {
    margin-bottom: $wg-gutter-md;
}

.wg-child-margin-top-sm {
    > * + * {
        margin-top:$wg-gutter-sm;
    }
}

.wg-child-margin-md {
    > * + * {
        margin-top:$wg-gutter-md;
    }
}

.wg-child-margin-sm {
    > * + * {
        margin-top:$wg-gutter-sm;
    }
}

.wg-display-block {
    display: block;
}

.wg-text-no-wrap {
    white-space: nowrap
}

.wg-reset-props {
    all:initial !important;

    // This resets h5 and p to display inline for some reason ...
    // > * {
    //     all:initial !important;
    // }
}
